[package]
name = "kkdlib"
version = "0.1.0"
edition = "2024"

[lib]
name = "kkdlib"
crate-type = ["lib", "cdylib"]

[dependencies]
bitfields = "1.0"
bitflags = "2.10"
directxtex = { version = "1.3", optional = true }
libdeflate-sys = "1.25"
pyo3 = { version = "0.27", features = ["abi3", "extension-module", "generate-import-lib"], optional = true }

[build-dependencies]
cc = "1.2"
libdeflate-sys = "1.25"

[features]
default = ["directxtex"]

[profile.release]
codegen-units = 1
lto = true
strip = true
