name: Build

on: [push, pull_request]

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-2025
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
          pip-install: maturin

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Install ISPC
        run: |
          choco install ispc
          "C:\ProgramData\Chocolatey\bin;" | Out-File -FilePath "$env:GITHUB_PATH" -Append

      - name: Build
        run: |
          rustup toolchain install nightly-2026-01-16
          rustup override set nightly-2026-01-16
          rustup component add rust-src

          $env:RUSTFLAGS="-Ctarget-cpu=x86-64-v3"
          maturin build --release --features=pyo3 --out dist --find-interpreter "-Zbuild-std=std,core,alloc,panic_abort" --target x86_64-pc-windows-msvc

      - uses: actions/upload-artifact@v6
        with:
          name: wheels-windows
          path: dist

  build-macos:
    name: Build MacOS
    runs-on: macos-15
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
          pip-install: maturin

      - name: Build
        run: |
          brew update
          brew install nasm llvm@20 lld@20 libomp ispc
          export CC="$(brew --prefix llvm@20)/bin/clang"
          export CXX="$(brew --prefix llvm@20)/bin/clang++"
          export AR="$(brew --prefix llvm@20)/bin/llvm-ar"
          export CFLAGS="-flto=thin -O3"
          export CXXFLAGS="-flto=thin -O3"
          export LDFLAGS="-flto=thin -fuse-ld=$(brew --prefix lld@20)/bin/ld64.lld"
          export OPENMP_STATIC=1

          rustup toolchain install nightly-2025-08-01
          rustup override set nightly-2025-08-01
          rustup component add rust-src

          export RUSTFLAGS="-Ctarget-feature=+crt-static -Clinker-plugin-lto -Clinker=$PWD/macos-linker.sh -Clink-arg=-fuse-ld=$(brew --prefix lld@20)/bin/ld64.lld"
          maturin build --release --features=pyo3 --out dist --find-interpreter -Zbuild-std=std,core,alloc,panic_abort --target aarch64-apple-darwin

      - uses: actions/upload-artifact@v6
        with:
          name: wheels-macos-aarch64
          path: dist

  build-intel-macos:
    name: Build MacOS (Intel)
    runs-on: macos-15-intel
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
          pip-install: maturin

      - name: Build
        run: |
          brew update
          brew install nasm llvm@20 lld@20 libomp ispc
          export CC="$(brew --prefix llvm@20)/bin/clang"
          export CXX="$(brew --prefix llvm@20)/bin/clang++"
          export AR="$(brew --prefix llvm@20)/bin/llvm-ar"
          export CFLAGS="-flto=thin -O3 -march=x86-64-v3"
          export CXXFLAGS="-flto=thin -O3 -march=x86-64-v3"
          export LDFLAGS="-flto=thin -fuse-ld=$(brew --prefix lld@20)/bin/ld64.lld"
          export OPENMP_STATIC=1

          rustup toolchain install nightly-2025-08-01
          rustup override set nightly-2025-08-01
          rustup component add rust-src

          export RUSTFLAGS="-Ctarget-cpu=x86-64-v3 -Ctarget-feature=+crt-static -Clinker-plugin-lto -Clinker=$PWD/macos-linker.sh -Clink-arg=-fuse-ld=$(brew --prefix lld@20)/bin/ld64.lld"
          maturin build --release --features=pyo3 --out dist --find-interpreter -Zbuild-std=std,core,alloc,panic_abort --target x86_64-apple-darwin

      - uses: actions/upload-artifact@v6
        with:
          name: wheels-macos-x86_64
          path: dist

  build-linux:
    name: Build Linux
    runs-on: ubuntu-24.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
          pip-install: maturin

      - name: Build
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get update
          sudo apt-get install libglib2.0-dev libatk1.0-dev libgtk-3-dev nasm clang-21 lld-21 libomp-21-dev ispc

          export CC="clang-21"
          export CXX="clang-21"
          export CFLAGS="-flto=thin -O3 -march=x86-64-v3"
          export CXXFLAGS="-flto=thin -O3 -march=x86-64-v3"
          export LDFLAGS="-flto=thin -fuse-ld=lld"
          export LIBRARY_PATH="/usr/lib/llvm-21/lib/"

          rustup toolchain install nightly-2026-01-16
          rustup override set nightly-2026-01-16
          rustup component add rust-src

          export RUSTFLAGS="-Ctarget-cpu=x86-64-v3 -Clinker-plugin-lto -Clinker=clang-21 -Clink-arg=-fuse-ld=lld"
          maturin build --release --features=pyo3 --out dist --find-interpreter -Zbuild-std=std,core,alloc,panic_abort --target x86_64-unknown-linux-gnu

      - uses: actions/upload-artifact@v6
        with:
          name: wheels-linux
          path: dist
